main {
  background-color: $color-background;
  section {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin-bottom: 2.5%;
      }
      .subfield {
        background-color: $color-white;
        width: 65%;
        border-radius: 10px;
        margin-bottom: 2%;
        border: 1px solid $gray;
        text-align: center;
        font-size: $smallest;
        padding: 15px 10px;
        .subitem {
          .question__header {
            text-transform: uppercase;
            margin-bottom: 8px;
          }
          .answer {
            font-family: 'CeraPro-Regular';
            font-size: $small;
            line-height: 1.5;
            &__matrix,
            &__rating {
              margin-top: 0.7%;
              margin-bottom: 2%;
              display: flex;
              justify-content: space-evenly;
              div label {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                  margin-bottom: 8px;
                }
              }
            }
            @media screen and (max-width:1000px) {
              &__matrix,
              &__rating {
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

//Vimeo player voor de 5 domeinen
.player {
  display: flex;
  justify-content: center;
}
