.landingPage {
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: 20rem;
  @include flex(center, center, column);
  .signUpForm,
  .signInForm {
    @include flex(space-around, center, column);
    background-color: $color-background;
    border: solid $color-add-color-light 3px;
    width: 30rem;
    height: 20rem;
    padding: 1rem;
    // font-family: ;
  }
}
