.landingPage {
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: 20rem;
  font-family: "CeraPro-regular";
  font-size: $smaller;
  @include flex(center, center, column);
  .signUpForm,
  .signInForm {
    @include flex(space-around, center, column);
    background-color: $color-background;
    border: solid $color-add-color-light 3px;
    width: 32rem;
    height: 24rem;
    padding: 1rem;
    input {
      padding: 0.5rem 0.2rem;
      cursor: pointer;
      outline: none;
    }
    h1 {
      font-family: "CeraPro-bold";
      font-size: $large;
    }
    h4 {
      @include flex(center, center, column);
      font-size: $smaller;
      cursor: pointer;
    }
  }
}
