.results-page {
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;

  &__circle {
    max-height: 100px;
  }
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px transparent black;
  padding: 2rem;
  margin-top: 20rem;
}
