.results-page {
  display: flex;
  justify-content: space-around;
  min-width: 100%;

  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      font-size: 12px;
      span {
        text-transform: none;
      }
    }
  }
  
  
}
.dashboard-container {
  margin-bottom: 15px;
  margin-top: 15px;
  
  .dashboard-title {
  padding: 2px;
  margin-left: 10px;
  }
}



.image-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-top: 2px solid lightgray;


  img {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
}

.chart-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 5%;
  
}



@media screen and (max-width: 1000px) {
  .results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .results-page__circle {
    border: 2px solid lightgray;
    
  }
}

@media screen and(max-width: 600px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  
}
