// colors
$color-logo: #ffd540;
$color-background: #fff7d8;
$color-add-color-dark: #db944b;
$color-add-color-light: #fbe5a3;
$color-add-color-extra-light: #fdf2d0;
$color-black: #000000;
$color-white: #ffffff;

$primary: #db944b;
$secondary: #ffd540;
$white: #000;
$gray: #9b9b9b;

// font-sizes
$smaller: 16px;
$small: 18px;
$medium: 20px;
$large: 22px;
$larger: 24px;
$huge: 30px;
