.scores-container {
    background-color: orange;
    color: white;
    max-width: 40%;
    border: 2px solid black;
    padding: 10px;
    font-size: 15px;

    .data-container {
        background-color: #040FD9;
        padding: 5px;
    }

    .crm-container {
        background-color: #020873;
        padding: 5px;
    }

    .digital-products-container {
        background-color: #0554F2;
        padding: 5px;
    }
}
