.scores-container {
    color: white;
    font-size: 15px;
    margin-left: 5%;
    max-width: 60%;

    .scores-interpretation-title {
        color: black;
    }
    

    .data-container {
        background-color: #040FD9;
        padding: 10px;
    }

    .crm-container {
        background-color: #020873;
        padding: 10px;
    }

    .digital-products-container {
        background-color: #0554F2;
        padding: 10px;
    }
    .cloud-container {
        background-color: #0597F2;
        padding: 10px;
    }
    .ai-container {
        background-color: #05AFF2;
        padding: 10px;
    }
}
