.scores-container {
  color: white;
  font-size: 15px;
  margin-left: 5%;
  max-width: 60%;

  .scores-interpretation-title {
    color: black;
  }

  .data-container {
    background-color: #ed5d4c;
    padding: 10px;
  }

  .crm-container {
    background-color: #ed5c4cd2;
    padding: 10px;
  }

  .digital-products-container {
    background-color: #ed5c4c93;
    padding: 10px;
  }
  .cloud-container {
    background-color: #ed5c4c65;
    padding: 10px;
  }
  .ai-container {
    background-color: #ed5c4c3a;
    padding: 10px;
  }
  .strategy-container {
    background-color: #FFD540;
    padding: 10px;
  }
  .skills-container {
    background-color: #FFF7D8;
    padding: 10px;
  }
}
